.button-expand h6 {
    justify-content: space-between !important
}

.button-expand {
    min-width: max-content !important;
    display: block !important;
}


.button.trash {
    background: red !important;
}

.swiper-slide {
    width: fit-content !important;
    margin-right: 0;
}