.modal-content.dragging {
    transition: 0;
}

.modal-overlay {
    animation: fadeIn 0.3s ease;
}

.modal-content {
    animation: slideUp 0.3s ease;
}

.children {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: calc(100vh - 70px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}