@import "tailwindcss";


@theme {
    --color-custom: #B676FE;
    --color-customBtn1: #6AF8C8;
    --color-customBtn2: linear-gradient(90deg, rgba(250, 226, 152, 1) 50%, rgba(182, 118, 254, 1) 100%);
}

@layer components {
    /* section>div {
        background: none !important;
    } */

    button[class*="tgui-"] {
        background: #FFFFFF0D;
    }

    html {
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .block-scroll {
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}